body {
    padding: 0 auto;
    margin: 0 auto;
}

#canvas {
    text-align: center;
    margin-top: 0.3em;
}

#slider {
    background: #53e95a;
}

.btn-warning, .btn-warning:hover, .btn-warning:focus {
    color: #ffffff;
}

.bugs {
    padding-left: 15px;
}

/* .btn-light, .btn-light:hover, .btn-light:focus {
    color: rgba(255, 255, 255, 0.555);
    background-color: gray;
} */

.h2 {
    text-align: center;
    font-family: monospace;
    color: #8a744c;
    text-shadow: 3px 3px rgb(253, 209, 14);
    margin-bottom: 0;
}

.btn-info {
    color: #ffffff;
}

.speed {
    padding-top: 5px;
    padding-left: 2px;
}

.fa-tachometer-alt {
    font-size: 30px;
}

/* .input {
    text-align: center;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}    

.box {
    text-align: center;
    border-radius: 15%;
    margin-right: 5px;
} */