.m {
    display:flex;
    color: #7D8096;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.share {
    color: #5684EB;
    margin-right: 10px;
    font-size: 20px;
    font-weight: lighter;
}
.outer {
    display: flex;
    width: 600px;
    height: 600px;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    align-content: space-between;
    background-color: #4A9E91;
}

.box {
    display: flex;
    width: 190px;
    height: 190px;
    font-size: 60px;
    flex-direction: row;
    flex-wrap: center;
    background-color: #58B9AB;
    justify-content: space-between;
    align-items: center;
}
.box .fa-circle {
    font-size: 70px;
    color: #ffffff;
}
.box .fa-times {
    font-size: 90px;
    color: #555555;
}
.fa-sort-down {
    margin-right: 10px;
    font-size: 15px;
    color: #7D8096;
}
.background {
    padding: 20px; 
    display: flex;
    background-color: #58B9AB;
}
.top {
    display: flex;
    justify-content: space-between;
}
.bottom {
    padding: 20px;
    font-size: 20px;
    color: #58B9B3;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.score {
    display: flex;
    justify-content: center;
}
.scorec {
    padding: 10px;
    margin-right: 10px;
    display: flex;
    color: #000000;
    width: 20%;
    font-size: 15px;
    justify-content: space-between;
    border: 3px solid #f3f3f3;
    border-radius: 5px;
}
.scorex {
    padding: 10px;
    margin-right: 10px;
    display: flex;
    color: #000000;
    width: 20%;
    font-size: 15px;
    justify-content: space-between;
    border: 3px solid #f3f3f3;
    box-shadow: 2px 5px 5px #58B9AB;
    border-radius: 5px;
}
.turn {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    color: #000000;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-content: center;
}